<%- include('../Shared/Head.ejs') %>
     <title>Online Shop | Checkout</title>
</head>

<body>
    <%- include('../Shared/Navbar.ejs') %>

    <input class="csrfToken" type="hidden" value="<%= csrfToken %>" readonly>

    <div class="container">

        <% if(checkouts.length <= 0) { %>

            <h1>Empty</h1>

        <% } else { %>

            <% for(let checkout of checkouts) { %>

                <div class="checkout-container">

                    <input class="checkout-id" type="hidden" value="<%= checkout.checkout_id %>"  readonly>

                    <div style="display: flex; gap: 10px;">
                        <label for="">Checkout ID</label>
                        <p ><%= checkout.checkout_id %></p>
                    </div>
                   
                    <% for(let item of checkout.items) { %>   

                        <div class="item-container">
                            
                            <div style="display: flex; gap: 10px;">
                                <label for="" >checkout_item_id: </label>
                                <p> <%= item.id %></p>
                            </div>
                           
                            <div  style="display: flex; gap: 10px;">
                                <label for="">product_id: </label>
                                <p><%= item.product_id %></p>
                            </div>
                         
                            <div style="display: flex; gap: 10px;">
                                <label for="" >cart_id: </label>
                                <p> <%= item.cart_id %></p>
                            </div>

                            <div style="display: flex; gap: 10px;">
                                <label for="" >total_quantity: </label>
                                <p> <%= item.total_quantity %></p>
                            </div>

                            <div style="display: flex; gap: 10px;">
                                <label for="" >total_price: </label>
                                <p> <%= item.total_price %></p>
                            </div>

                        </div>

                    <% } %>


                    <div class="button-container">
                        <button class="track-order-btn" >Track</button>
                        <button class="cancel-order-btn" >Cancel order</button>
                    </div>
                
                </div>

            <% } %>

        <% } %>

    </div>

</body>

<script>

    const  csrf_token = document.querySelector('.csrfToken').value;

    document.querySelectorAll('.cancel-order-btn').forEach(btn => {
        btn.addEventListener('click', async (ev) => {
            ev.preventDefault();

            const checkout_id = ev.target.parentElement.closest('.checkout-container').querySelector('.checkout-id').value;
          
            const res = await fetch(`/shop/checkout/cancel-order`, {
                method: "DELETE",
                headers: { 
                    "x-csrf-token": csrf_token,
                    "content-type": "application/json",
                },
                body: JSON.stringify({
                    checkout_id: checkout_id,
                })
            })

            const obj = await res.json();
            console.log(obj);
        })
    })

</script>

<style>

    .container {
        width: 90%;
        margin: 1rem auto;
        border: 1px solid black;
        padding: 1rem;
    }

    .checkout-container {
        border: 1px solid red;
        width: 100%;
        border-radius: 0.3rem;
        box-shadow: 2px 2px 6px black;
        padding: 0.4rem;
        margin-bottom: 1rem;
    }

    .item-container {
        border: 1px solid orange;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .button-container {
        margin-top: 1rem;
    }

</style>